.board-div {
  min-height: 156px;
  max-width: 156px;
  display: flex;
  flex-wrap: wrap;

  /* justify-content: center;
  align-items: center; */
  background-color: black;
}

.cell {
  border: 1px solid yellow;
  min-width: 50px;
  min-height: 50px;

}